# Exploratory Data Analysis

In [1]:
# Importing Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Loading Cancer Data
df = pd.read_csv("../Out_data/final_data.csv")

In [4]:
df.head()

   Unnamed: 0 Country/State  Value               Coordinates
0           0       Alabama  450.8   [32.806671, -86.791130]
1           1        Alaska  418.6  [61.370716, -152.404419]
2           2       Arizona  385.7  [33.729759, -111.431221]
3           3      Arkansas  479.0  [34.969704, -105.311104]
4           4    California  402.4  [36.116203, -119.681564]

In [5]:
# Selecting Columns: "Country/State", "Value", "Coordinates"
df2 = df[["Country/State", "Value", "Coordinates"]]

In [6]:
# Cleaned DataFrame
df2

            Country/State  Value               Coordinates
0                 Alabama  450.8   [32.806671, -86.791130]
1                  Alaska  418.6  [61.370716, -152.404419]
2                 Arizona  385.7  [33.729759, -111.431221]
3                Arkansas  479.0  [34.969704, -105.311104]
4              California  402.4  [36.116203, -119.681564]
..                    ...    ...                       ...
97                Nunavut  180.7        [70.2998, 83.1076]
98                Ontario  555.0        [51.2538, 85.3232]
99   Prince Edward Island  616.8        [46.5107, 63.4168]
100          Saskatchewan  491.0       [52.9399, 106.4509]
101                 Yukon  363.5       [64.2823, 135.0000]

[102 rows x 3 columns]

In [7]:
# Exporting cleaned cancer data to .csv
df2.to_csv("../Out_data/cleaned_data.csv", encoding='utf-8', index = False, header=True)